:root {
	--board-bg: #ffffff;
	--contrast: #000000;
	--border: #00000025;
	--border-active: #000000;
	--border-edge: #000000;
	--accent: #2176ae;
	--active-bg: #d7eeff;
	--common-bg: #d7eeff;
	--invalid: #fe6666;
	--invalid-light: #fe8888;
	font-family: "Rubik", sans-serif;
}
.board {
	width: 95vmin;
	height: 95vmin;
	background-color: var(--board-bg);
	margin: auto;
	display: grid;
	grid-template-rows: repeat(9, 1fr);
	grid-template-columns: repeat(9, 1fr);
	gap: 0;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px var(--border) solid;
	font-size: 1.5rem;
	cursor: default;
	color: var(--accent);
	transition: ease all 0.1s;
	&.common-zone:not(.active) {
		background-color: var(--common-bg);
	}
	&.active {
		background-color: var(--active-bg);
		transform: scale(110%);
		border: 2px var(--border-active) solid;
		color: var(--contrast);
	}
	&.border-right {
		border-right: 2px solid var(--border-edge);
	}
	&.border-left {
		border-left: 2px solid var(--border-edge);
	}
	&.border-top {
		border-top: 2px solid var(--border-edge);
	}
	&.border-bottom {
		border-bottom: 2px solid var(--border-edge);
	}
	&.highlight {
		background-color: var(--active-bg);
	}
	&.invalid:not(.active) {
		//background-color: var(--invalid);
		color: var(--invalid);
	}
	&.set {
		font-weight: bold;
		color: var(--contrast);
	}
}

.keyboard {
	width: 95vmin;
	background-color: var(--board-bg);
	margin: auto;
	display: flex;
	font-size: 1.5rem;
	& div {
		width: 100%;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			background-color: #cacaca;
		}
	}
}
