:root {
	--board-bg: #ffffff;
	--contrast: #000000;
	--border: #9facb7;
	--border-active: #000000;
	--border-edge: #000000;
	--accent: #2176ae;
	--active-bg: #d7eeff;
	--common-bg: #d7eeff;
	--invalid: #fe6666;
	--invalid-light: #fe8888;
	font-family: "Rubik", sans-serif;
}
:root,
html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
}
#root {
	display: flex;
	align-items: center;
	justify-content: center;
}
.App {
	padding: 20px;
	width: 100%;
	display: grid;
	gap: 1rem;
	grid-template-columns: 7fr 3fr;
}
.board {
	aspect-ratio: 1 / 1;
	max-height: 90vmin;
	max-width: 90vmin;
	width: 100%;
	background-color: var(--board-bg);
	margin: auto;
	display: grid;
	grid-template-rows: repeat(9, 1fr);
	grid-template-columns: repeat(9, 1fr);
	gap: 0;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px var(--border) solid;
	font-size: 1.5rem;
	cursor: default;
	color: var(--accent);
	transition: ease all 0.1s;
	&.common-zone:not(.active) {
		background-color: var(--common-bg);
	}
	&.active {
		background-color: var(--active-bg);
		transform: scale(110%);
		border: 2px var(--border-active) solid;
		color: var(--contrast);
	}
	&.border-right {
		border-right: 2px solid var(--border-edge);
	}
	&.border-left {
		border-left: 2px solid var(--border-edge);
	}
	&.border-top {
		border-top: 2px solid var(--border-edge);
	}
	&.border-bottom {
		border-bottom: 2px solid var(--border-edge);
	}
	&.highlight {
		background-color: var(--active-bg);
	}
	&.invalid {
		color: var(--invalid);
	}
	&.set:not(.invalid) {
		font-weight: bold;
		color: var(--contrast);
	}
}

.keyboard {
	background-color: var(--board-bg);
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-size: 2.5rem;
	& div {
		aspect-ratio: 1 / 1;
		display: flex;
		width: 4rem;
		height: 4rem;
		justify-content: center;
		align-items: center;
		&:hover {
			background-color: #cacaca;
		}
		&:last-child {
			grid-column: 1 / -1;
			aspect-ratio: unset;
			width: unset;
			height: unset;
		}
	}
}
@media (max-width: 800px) {
	.App {
		grid-template-columns: 1fr;
		grid-template-rows: 6fr 4fr;
	}
	.board {
		height: 100%;
		width: unset;
	}
}
