.board {
	width: 95vmin;
	height: 95vmin;
	background-color: #eaeaea;
	margin: auto;
	display: grid;
	grid-template-rows: repeat(9, 1fr);
	grid-template-columns: repeat(9, 1fr);
	gap: 0;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px #00000075 solid;
	cursor: default;
	&.common-zone:not(.active) {
		background-color: #dddddd;
	}
	&.active {
		background-color: #cbcbcb;
		border: 2px #000000 solid;
	}
	&.border-right {
		border-right: 2px solid black;
	}
	&.border-left {
		border-left: 2px solid black;
	}
	&.border-top {
		border-top: 2px solid black;
	}
	&.border-bottom {
		border-bottom: 2px solid black;
	}
	&.invalid {
		background-color: red !important; // TODO fix
	}
}

.keyboard {
	width: 95vmin;
	background-color: #dadada;
	margin: auto;
	display: flex;
	& div {
		width: 100%;
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			background-color: #cacaca;
		}
	}
}
